
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
body{
    background-color: #A9BDD6;
    color: #161717;
    height:auto;
    min-height:100vh;
}
/* Container styling */
.container {
    font-family: "BBH Sans Hegarty", sans-serif;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}


